doctype html
html
    head
        title TourPadi | #{tour}
        link(rel='stylesheet' href='css/style.css') 
        link(rel='shortcut icon' type='image/png' href='img/island.png') 

    body
        // comments
        h1= tour
        p= user.toUpperCase()